.simple-search-form {
	max-width: 600px;
	margin: auto;
}

input[type="text"].ssf-input {
	width: 500px;
}

input[type="text"].ssf-input,
.ssf-btn {
	height: 50px;
	padding: 8px 25px;
	border-radius: 8px;
}

.ssf-btn {
	cursor: pointer;
	padding-left: 50px;
	padding-right: 50px;
	color: #fff;
	background-color: #192a83;
	border-color: #192a83;
}

.ssf-btn:hover {
	color: #fff;
	background-color: #101f6d;
}

@media (max-width: 767px) {
	input[type="text"].ssf-input {
		width: 320px;
	}

	.ssf-btn {
		padding-left: 20px;
		padding-right: 20px;
	}
}

/* header in single property */
.listing-summary {
	padding-top: 5em;
}

.listing-summary span {
	font-size: 1.25em;
	display: block;
}

.listing-summary .county {
	color: #182a83;
}

.listing-summary h1 {
	margin-top: 10px;
}

.listing-summary .address {
	font-weight: lighter;
}

.listing-summary .status {
	background-color: #182a83;
	margin: 2em 0;
	background-color: #182a83;
	padding: 0 15px;
}

.listing-summary .status span {
	font-size: 1em;
	color: #fff;
}

/* header in single property */

/* slide in single property */

.property-slide {
	cursor: pointer;
	overflow-x: hidden;
	max-width: 100%;
	margin: 3em 0 5em;
}

.property-slide .slick-slide {
	position: relative;
	transform: scale(.95);
	transition: all .25s ease;
	padding: 0 20px;
}

.property-slide .slick-slide.slick-current {
	transform: scale(1.1);
}

.property-slide .slick-slide .img {
	height: 450px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

/* slide in single property */

/* listing detail section in single property */
.listing-details {
	background-color: #f1f0ed;
	padding: 5em 0;
	font-size: 1.2em;
}

.listing-details h1 {
	font-weight: lighter;
	margin-bottom: 40px;
}

.listing-details p.supplement {
	font-size: 1.2em;
}

.listing-details tr:nth-of-type(even) {
	background-color: #fff;
}

.listing-details .table>tbody>tr:first-child>td {
	border-top-width: 0;
}

.listing-details .table>tbody>tr>td {
	padding: 1.5rem 0;
}

.listing-details .table>tbody>tr>td:nth-child(2) {
	text-align: right;
}

.listing-details .table-container {
	background: #fff;
	box-shadow: 0 4px 20px 0 rgba(48, 38, 35, .26);
	padding: 6rem 3rem 3rem;
	position: relative;
	margin: 35px 0 30px;
}

.listing-details .table-container .house-icon {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -35px;
	height: 70px;
	width: 70px;
	background-color: #182a83;
	box-shadow: 0 4px 20px 0 rgba(48, 38, 35, .26);
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
}

.listing-details .table-container .house-icon img {
	margin: auto;
}

/* listing detail section in single property */

/* listing map section in single property */
.listing-map {
	padding: 5em 0;
}

.listing-map .visit {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 3rem;
	background-color: #182a83;
	color: #fff;
	border-color: #132061;
	border-radius: 0;
	padding: 1em;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
}

.listing-map .visit:hover {
	background-color: #132169;
}

/* listing map section in single property */

/* listing nearby section in single property */
.listing-nearby {
	background-color: #f1f0ed;
	padding: 5em 0;
}

.listing-nearby h1 {
	font-weight: lighter;
}

.listing-nearby .property a {
	display: flex;
	flex-direction: column;
	position: relative;
}

.listing-nearby .thumbnail {
	padding: 0;
	border-radius: 0;
	margin: 0;
	position: relative;
	height: 250px;
	display: flex;
}

.listing-nearby .thumbnail .no-image {
	margin: auto;
	font-size: 2em;
}

.listing-nearby a:hover .thumbnail:after {
	background-color: rgba(0, 0, 0, 0);
}

.listing-nearby .thumbnail:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(0, 0, 0, .25);
}

.listing-nearby .summary {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.listing-nearby .summary .address,
.listing-nearby .summary .price {
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	text-align: center;
	padding: 0.25em 0;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 0;
}

.listing-nearby .summary .address {
	padding-top: .5em;
}

.listing-nearby .summary .price {
	padding-bottom: .5em;
	font-weight: lighter;
	font-size: 1.5em;
}

/* listing nearby section in single property */


/* search result css */
h1.sr-title {
	margin: 40px 0px;
	position: relative;
	letter-spacing: 2px;
}

h1.sr-title::after {
	position: absolute;
	content: ' ';
	border: 1px solid #221c8a;
	width: 100px;
	bottom: -15px;
	left: calc(50% - 50px);
}

h1.sr-title a {
	font-size: 12px;
	letter-spacing: normal;
	background-color: #737373;
	border: none;
	color: #fff;
	position: absolute;
	margin-left: 100px;
	bottom: 0;
}

h1.sr-title a.saved {
	color: #333;
}

h1.sr-title a i {
	margin-right: 4px;
}

.searched-results,
.searched-results .matched-query {
	margin: 15px 0px;
}

.searched-results .carousel .carousel-inner {
	height: 300px;
	overflow: hidden;
}

.searched-results .carousel .carousel-control {
	background: transparent;
	display: flex;
	align-items: center;
	color: #fff;
	cursor: pointer;
}

.searched-results .carousel .carousel-control span {
	margin: auto;
}

.searched-results .no-image {
	display: flex;
	height: 300px;
	position: relative;
	align-items: center;
}

.searched-results .no-image::before {
	position: absolute;
	content: ' ';
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
}

.searched-results .no-image::after {
	content: 'No Image Available';
	width: 100%;
	text-align: center;
	font-size: 1.75em;
	color: #fff;
	z-index: 1;
}

.searched-results .summary {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	left: 15px;
	right: 15px;
	text-align: center;
	padding: 25px 0px;
	font-weight: bold;
	text-transform: uppercase;
}

.searched-results .summary a {
	color: #fff;
}

.searched-results .summary p {
	margin-bottom: 0px;
}

.h-850px {
	height: 850px;
	overflow: auto;
}

.search-result-map-container {
	padding: 15px 0px;
}

#search-result-map {
	height: 100%;
}

/* search result css */
.sandicor-signup .gform_confirmation_message {
	text-align: center
}

.sandicor-dashboard {
	padding-top: 100px;
	padding-bottom: 100px;
}

.sandicor-dashboard .nav-pills li a {
	border-radius: 0;
}

.sandicor-dashboard .nav-pills li.active a {
	background-color: #221c8a;
}

.sandicor-dashboard .form-horizontal {
    width: 400px;
    margin: auto;
}

.sandicor-dashboard .form-horizontal .control-label {
	text-align: right;
	margin-left: 0;
}

.sandicor-dashboard .form-horizontal button {
    border-color: #221c8a!important;
}