.simple-search-form {
	max-width: 600px;
	margin: auto;
}

input[type="text"].ssf-input,
.ssf-btn {
	height: 50px;
  padding: 8px 25px;
  border-radius: 8px;
}

.ssf-btn {
	cursor: pointer;
	padding-left: 50px;
	padding-right: 50px;
	color: #fff;
	background-color: #192a83;
	border-color: #192a83;
}

.ssf-btn:hover {
	color: #fff;
	background-color: #101f6d;
}

/* header in single property */
.listing-summary {
	padding-top: 5em;
}

.listing-summary span {
	font-size: 1.25em;
	display: block;
}

.listing-summary .county {
	color: #182a83;
}

.listing-summary h1 {
	margin-top: 10px;
}

.listing-summary .address {
	font-weight: lighter;
}

.listing-summary .status {
	background-color: #182a83;
	margin: 2em 0;
	background-color: #182a83;
	padding: 0 15px;
}

.listing-summary .status span {
	font-size: 1em;
	color: #fff;
}
/* header in single property */

/* slide in single property */

.property-slide {
	cursor: pointer;
	overflow-x: hidden;
	max-width: 100%;
	margin: 3em 0 5em;
}

.property-slide .slick-slide {
	position: relative;
	transform: scale(.95);
	transition: all .25s ease;
	padding: 0 20px;
}

.property-slide .slick-slide.slick-current {
	transform: scale(1.1);
}

.property-slide .slick-slide .img {
	height: 450px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

/* slide in single property */

/* listing detail section in single property */
.listing-details {
	background-color: #f1f0ed;
	padding: 5em 0;
	font-size: 1.2em;
}

.listing-details h1 {
	font-weight: lighter;
	margin-bottom: 40px;
}

.listing-details p.supplement {
	font-size: 1.2em;
}

.listing-details tr:nth-of-type(even) {
	background-color: #fff;
}

.listing-details .table > tbody > tr:first-child > td {
	border-top-width: 0;
}

.listing-details .table > tbody > tr > td {
	padding: 1.5rem 0;
}

.listing-details .table > tbody > tr > td:nth-child(2) {
	text-align: right;
}

.listing-details .table-container {
	background: #fff;
	box-shadow: 0 4px 20px 0 rgba(48,38,35,.26);
	padding: 6rem 3rem 3rem;
	position: relative;
	margin: 35px 0 30px;
}

.listing-details .table-container .house-icon {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -35px;
	height: 70px;
	width: 70px;
	background-color: #182a83;
	box-shadow: 0 4px 20px 0 rgba(48,38,35,.26);
	color: #fff;
	border-radius: 50%;
	display: flex;
	align-items: center;
}

.listing-details .table-container .house-icon img {
	margin: auto;
}
/* listing detail section in single property */

/* listing map section in single propert */
.listing-map {
	padding: 5em 0;
}

.listing-map .visit {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 3rem;
	background-color: #182a83;
	color: #fff;
	border-color: #132061;
	border-radius: 0;
	padding: 1em;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
}

.listing-map .visit:hover {
	background-color: #132169;
}
/* listing map section in single propert */